<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/wp3106251-eat-your-vegetables-wallpapers.jpg" class="card-img-top" alt="vegetables">
      <div class="card-body">
        <h5 class="card-title">FRUITS & VEGETABLES</h5>
        <p class="card-text">Potato, onions, garlic, ginger etc</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/wp7695180-cooking-oil-wallpapers.jpg" class="card-img-top" alt="cooking oil and masala">
      <div class="card-body">
        <h5 class="card-title">FOODGRAINS,OIL & MASALA</h5>
        <p class="card-text">Wheat, Rice, cooking oil, masala etc</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/wp4424214-snack-wallpapers.jpg" class="card-img-top" alt="snacks">
      <div class="card-body">
        <h5 class="card-title">SNACKS</h5>
        <p class="card-text">Maggi, Biscuits, Sweets etc</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/wp7137319-beverages-wallpapers.jpg" class="card-img-top" alt="beverages">
      <div class="card-body">
        <h5 class="card-title">BEVERAGES</h5>
        <p class="card-text">Cold drinks, tea, coffee</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/wp2034290-milk-wallpapers.jpg" class="card-img-top" alt="milk eggs bread">
      <div class="card-body">
        <h5 class="card-title">EGGS,BAKERY & DAIRY</h5>
        <p class="card-text">Milk, eggs, bread etc</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>