<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title fw-bold">HOME DELIVERY</h5>
    <p class="card-text">Order your grocery products here...!!</p>
    
  </div>
  <div class="card-footer text-danger fw-bold">
    OPEN from Morning 8:00AM TO Evening 10:00PM
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let product of productsArray">
    <div class="card h-100">
      <img [src]="product.img" class="card-img-top" [alt]="product.cardTitle">
      <div class="card-body">
        <h5 class="card-title">{{ product.cardTitle }}</h5>
        <p class="card-text">{{ product.cardText }}</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

